
body {
    font-family: Arial, sans-serif;
}
header.jumbotron {
    background: url('https://www.locomotivation.co.uk/assets/images/commis-chef-apprenticeship/commis-chef-apprenticeship.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 5rem 1rem;
}
footer {
    background-color: #f8f9fa;
}
.navbar-brand img {
    max-height: 30px;
}
.img-cls{
    height: 230px;
    
}
